.hidden {
  display: none;
}

/* tooltip */
#tooltip{
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;

  span{
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #ccc;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.gauge-outline {
  stroke: #000;
  stroke-width: 2px;
  fill: none;
}

.gauge-readout {
  font-size: 22px;
}


.q0-9{fill:rgb(255,245,240)}
.q1-9{fill:rgb(254,224,210)}
.q2-9{fill:rgb(252,187,161)}
.q3-9{fill:rgb(252,146,114)}
.q4-9{fill:rgb(251,106,74)}
.q5-9{fill:rgb(239,59,44)}
.q6-9{fill:rgb(203,24,29)}
.q7-9{fill:rgb(165,15,21)}
.q8-9{fill:rgb(103,0,13)}

path{fill:#fff}