.hidden {
  display: none; }

/* tooltip */
#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; }
  #tooltip span {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px; }

.chart-container {
  border: 1px #ccc solid;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis {
  font-size: 8px;
}

.background {
  fill: none;
  pointer-events: all; }

.feature {
  fill: #ccc;
  cursor: pointer; }

.feature.active {
  fill: orange; }

.mesh {
  fill: none;
  stroke: #ccc;
  stroke-linecap: round;
  stroke-linejoin: round; }

.gauge-outline {
  stroke: #000;
  stroke-width: 2px;
  fill: none; }

.gauge-readout {
  font-size: 22px; }

.q0-9 {
  fill: #fff5f0; }

.q1-9 {
  fill: #fee0d2; }

.q2-9 {
  fill: #fcbba1; }

.q3-9 {
  fill: #fc9272; }

.q4-9 {
  fill: #fb6a4a; }

.q5-9 {
  fill: #ef3b2c; }

.q6-9 {
  fill: #cb181d; }

.q7-9 {
  fill: #a50f15; }

.q8-9 {
  fill: #67000d; }

path {
  fill: #fff; }
